/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

body {
  margin: 40px auto 30px auto;
  width: 800px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 40px auto 30px auto;
    width: 100vw;
  }
}

.logo {
  margin-bottom: 60px;
  height: 40px;
}

.logo h1 {
  margin: auto;
  float: left;
  font-weight: 800;
  font-size: 2.2em;/* 35/25px */
  font-stretch: 200%;
  letter-spacing: 2px;
  text-shadow: -1px -1px 0  rgb(254, 88, 76), 0.75px -0.75px 0 #000, -0.75px 0.75px 0 #000, 0.75px 0.75px 0 #000;
  color: white;
}

.logo h1:hover {
  text-shadow: -2px -2px 2px  rgb(254, 88, 76), 0.75px -0.75px 0 #000, -0.75px 0.75px 0 #000, 0.75px 0.75px 0 #000;
}

.logo span {
  float: right;
  height: 100%;
}

.logo input {
  height: 100%;
  width: 220px;
  border-color: grey;
}

.search {
  float: right;
  padding: 0 20px;
  margin-left: 20px;
  line-height: 35px;
  height: 100%;
  font-family: Roboto, serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  color: rgb(254, 88, 76);
  border: 2px solid rgb(254, 88, 76);
}

.search:hover {
  background-color: rgb(254, 88, 76);
  color: white;
}

@media screen and (max-width: 768px) {
  .logo h1 {
    float: right;
  }

  .logo span {
    float: left;
  }
}

.navigation {
  height: 50px;
}

.navigation nav {
  float: left;
}

.navigation a {
  margin-right: 40px;
  line-height: 50px;
  font-family: Roboto, serif;
  font-size: 17px;
  font-weight: bold;
  color: rgb(254, 88, 76);
  text-decoration: none;
}

.navigation_button a {
  float: right;
  padding: 0 20px;
  margin-right: 0;
  height: 100%;
  font-family: Roboto, serif;
  font-size: 17px;
  font-weight: bold;
  background-color: white;
  color: rgb(254, 88, 76);
  border: 2px solid rgb(254, 88, 76);
}

@media screen and (max-width: 768px) {
  .navigation_button a {
    float: left;
  }
}

.navigation a:hover {
  color: rgb(198, 77, 60);
}

.navigation_button div {
  float: right;
  margin-right: 0;
}

.navigation_button:hover a {
  background-color: rgb(254, 88, 76);
  color: white;
}

hr {
  margin: 40px auto;
  width: 500px;
  height: 2px;
  background-color: black;
}

@media screen and (max-width: 768px) {
  hr {
    display: block;
    margin: 70px auto;
    width: 80%;
    height: 2px;
    background-color: black;
  }
}

h2 {
  margin-bottom: 45px;
  font-size: 27px;
  font-family: Roboto, serif;
  font-weight: 525;
}

.favorites img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgb(254, 88, 76);
}

.icon img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgb(254, 88, 76);
}

.alt_icon {
  margin: auto;
  width: 120px;
  height: 120px;
  justify-items: center;
  border-radius: 50%;
  border: 3px solid rgb(254, 88, 76);
}

.alt_icon:hover {
  border: 3px solid rgb(198, 77, 60);
}

.center_i {
  font-size: 40px;
  margin: auto;
  line-height: 120px;
}

.center_i_a {
  text-decoration: none;
  color: rgb(254, 88, 76);
}

.center_i_a:hover {
  color: rgb(198, 77, 60);
}

.icon figcaption {
  margin-top: 25px;
}

.icon img:hover {
  border: 3px solid rgb(198, 77, 60);
}

.icon figure {
  margin: 16px 0;
  position: relative;
}

.icon {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: 1fr;
  justify-content: space-between;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: bold;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 1fr;
  justify-content: space-between;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .icon {
    grid-template-columns: repeat(3, 30%);
  }

  #checks {
    float: left;
    margin-top: 20px;
  }
}

.icon h3 {
  margin-bottom: 12px;
}

.icon h4 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.icon p {
  margin-top: 12px;
  font-size: 10px;
  font-weight: 400;
}

table {
  width: 100%;
  font-size: 13px;
  font-family: Roboto, serif;
  vertical-align: center;
  line-height: 35px;
}

th {
  font-size: 15px;
}

.left_align_cell {
  padding-left: 20px;
  text-align: left;
}

.first_th {
  padding-left: 35px;
  text-align: left;
}

tr {
  height: 35px;
}

.first_row {
  border-bottom: 1px solid black;
}

.even_row td {
  background-color: rgb(247, 245, 248);
  vertical-align: center;
}

.hide {
  display: none;
}

.first_th:hover .hide {
  display: contents;
  color: rgb(35, 141, 139);
}

.th_s:hover .hide {
  display: contents;
  color: rgb(35, 141, 139);
}

th:hover {
  border-bottom: 4px solid black;
}

.table_pages {
  margin-top: 35px;
  display: flex;
  justify-items: left;
  font-size: 11px;
  font-family: Roboto, serif;
}

.table_link {
  margin-left: 15px;
  color: rgb(35, 141, 139);
  text-decoration: none;
}

.table_link:visited {
  color: black;
}

.table_link:hover {
  color: rgb(16, 76, 75);
}

.favorites figcaption {
  margin-top: 25px;
}

.favorites img:hover {
  border: 3px solid rgb(198, 77, 60);
}

.fig {
  position: relative;
}

.star {
  position: absolute;
  right: 8px;
  top: 8px;
  color: rgb(230, 235, 8);
  font-size: 30px;
}

.scroll {
  font-size: 65px;
  color: rgb(26, 26, 26);
}

.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.teachers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: 0 10px;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .teachers {
    justify-items: flex-start;
    justify-content: center;
  }
}

.favorites h3 {
  margin-bottom: 12px;
}

.favorites h4 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.favorites p {
  margin-top: 12px;
  font-size: 10px;
  font-weight: 400;
}

.favorites figure {
  margin: 16px 0;
}

.info {
  margin-bottom: 35px;
  text-align: left;
  font-size: 13px;
  font-weight: lighter;
  font-family: Roboto, serif;
}

.navigation2 {
  height: 50px;
}

.teacher_filter label {
  font-family: Roboto, serif;
  font-size: 13px;
  border-right: 2px dashed grey;
  margin-right: 10px;
  padding-right: 10px;
  color: grey;
}

#checkbox_without_border {
  border: none;
}

.teacher_filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.select_filter {
  margin-left: 15px;
  padding-left: 10px;
  height: 35px;
  color: rgb(70, 70, 72);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: auto;
  background: #fff;
  border-radius: 5px;
  width: 560px;
  position: relative;
  transition: all 5s ease-in-out;
  overflow-y: auto;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .popup1 {
    width: 100%;
  }
}

.popup1 header {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 20px;
  background-color: rgb(70, 70, 72);
  color: white;
  font-family: Roboto, serif;
  font-size: 12px;
}

form {
  margin: 35px;
}

#add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-family: Roboto, serif;
  font-size: 14px;
  color: grey;
}

#add input {
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  height: 35px;
  color: rgb(70, 70, 72);
  font-size: 13px;
}

#add input[type="radio"] {
  height: 13px;
  margin-top: 0;
}

#add input[type="color"] {
  height: 25px;
  width: 50px;
  margin-top: 0;
  padding: 8px;
}

#add select {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 13px;
  width: 100%;
  height: 35px;
  color: rgb(70, 70, 72);
}

.name_input label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.name_input label::placeholder {
  margin: 10px;
}

.details {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.sex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.sex label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: rgb(70, 70, 72);
}

.space {
  margin-left: 32px;
}

.background_color {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  gap: 60px;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add_button {
  margin-top: 30px;
  height: 60px;
  font-family: Roboto, serif;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  color: rgb(254, 88, 76);
  text-decoration: none;
  border: 1px solid rgb(254, 88, 76);
}

.add_a {
  text-decoration: none;
  color: rgb(254, 88, 76);
}

.popup2 {
  margin: auto;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  width: 950px;
  position: relative;
  transition: all 5s ease-in-out;
  overflow-y: auto;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .popup2 {
    width: 100%;
  }
}

.popup2 header {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 20px;
  background-color: rgb(70, 70, 72);
  color: white;
  font-family: Roboto, serif;
}

#main_card {
  display: flex;
  gap: 40px;
  margin: 20px;
  font-family: Roboto, serif;
  text-align: left;
}

@media screen and (max-width: 768px) {
  #main_card {
    flex-direction: column;
  }
}

#info_card {
  width: 100%;
}

.main_img {
  width: 320px;
  height: 320px;
}

p.name_h {
  position: relative;
  margin-top: 12px;
  margin-bottom: 48px;
  font-size: 30px;
  font-weight: 350;
}

.info_star {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(230, 235, 8);
  font-size: 35px;
  justify-items: left;
}

p.sp {
  margin-bottom: 32px;
  font-size: 17px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: rgb(70, 70, 72);
  font-size: 11px;
}

.email {
  color: rgb(35, 141, 139);
  text-decoration: none;
}

.email:hover {
  color: rgb(16, 76, 75);
}

.d {
  margin: 35px 20px 30px;
  text-align: left;
  color: rgb(70, 70, 72);
}

.map {
  height: 400px;
  margin: 20px;
}

.popup1 .close {
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: auto;
}

.popup2 .close {
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: auto;
}
